body{
    background-color: #666688;
}
		

        #navBar{
            margin: 0;
            padding: 10px 0;
            background-color: #2c2c2c;
            border-bottom: solid 2px white;
            border-radius: 0 0 15px 15px;
			margin-left:auto;
			margin-right:auto;
            width: 80%;
        }
        
        .search {
          display: flex;
        }

        .searchTerm {
          width: 100%;
          border: 3px solid #3191f8;
          border-right: none;
          border-radius: 10px 0 0 10px;
          outline: none;
          color: white;
            padding-left: 10px;
            background-color: rgba(0, 0, 0, .2);
        }

        .searchTerm:focus{
          color: #3191f8;
        }

        .searchButton {
          width: 40px;
          height: 36px;
          border: 1px solid #3191f8;
          background: #3191f8;
          text-align: center;
          color: #fff;
          border-radius: 0 5px 5px 0;
          cursor: pointer;
          font-size: 20px;
        }
		
		.welcom{
			width:100%;
			color: #727272;
			text-align:center;
			border-left:auto;
			border-right:auto;
		}
		
		#indiceDef{
			width:100%;
			margin-left:auto;
			margin-right:auto;
		}
		
		#indiceDiv{
			width:95%;
			margin-left:auto;
			margin-right:auto;
			border-top:1px solid #555555;
			border-top-width:80%;
		}	

		.indiceDef{
			height:200px;
			width:24%;
			margin-top:20px;
			border: 2px solid #3191f8;
			margin-left:auto;
			margin-right:auto;
			border-radius:0 20px 0 20px;
			
		}
		
		.indiceDef h6{
			margin-top:5px;
		
		}
		.indiceDef div{
		}
		
		.indiceDef ul{
			padding-left:0;
			
		}
		
		.indiceDef li{
			width:100%;
			font-size:12px;
		}
		
	
		
        #ElementRegion{
            margin-top: 25px;
        }
		
		#ElementRegion,#ElementCommune,#ElementDepartement{
			position:block;
		}
			
		
        .cardColor{
            background-color: #2c2c2c;
        }
        .textColor{
            color: #727272;
        }
        .borderLeftViollet{
            border-left: .25rem solid #4e73df !important;
			
        }
        .borderLeftRed{
            border-left: .25rem solid #ff5756 !important
        }
        .borderLeftGreen{
            border-left: .25rem solid #469e0a !important
        }
		
		.text-primary{
			color:#3191f8;
		}	
		
		.indice{
				width:22%;
				height:100px;
				margin-left:3%;
				margin-top:10px;
				text-align:center;
				margin-bottom:10px;
		}	

		.indice p{
				text-align:center;
				height:40px;
				font-size:12px;
				
				
		}
				
        .indiceC{
            width: 100px;
			height:60%;
            border: solid 1px white;
            margin-left: auto;
            margin-right: auto;
			text-align:center;
            border-radius: 15px;
        }
        
        
        .indiceValue{
            position:relative;
			top:15px;
            color: white;
			
			}
		.scoreGlob{
			margin-top:20px;
			margin-bottom:20px;
			height:60px;
		}
		
		.indiceG{
			width: 100px;
			height:100%;
			border: solid 1px white;
            margin-left: auto;
            margin-right: auto;
			text-align:center;
            border-radius: 15px;
		}
        
        .fontSize{
            font-size: 12px;
        }

        .width{
            width: 100%;
        }
#ElementPhrase{
    height: 150px;
    padding-left: 15px;
    padding-right: 15px;
}
#ElementPhrase i.icon{
    color: red;
    font-size: 100px;
    margin-top: 45px;
}

/* Footer */

        .footer{
            height: 225px;
            background-color: #2c2c2c;
        }

        .footer p.text{
            text-align: center;
            padding-top: 80px;
        }
        .footer .textColorBlue{
            color: #3191f8;
        }
        .footer .textSize{
            font-size: 25px;
        }